/* Add Page */
.add-content {
    padding: 50px 0;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .add-content .input-container input {
    width: 100%;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: var(--white);
    font-size: 1.25rem;
  }
  
  .results {
    padding: 0;
    margin: 0;
    margin-top: 20px;
  }
  .add-content .btn-more{

    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(36, 205, 112);
    display: block;
    margin: 0 auto;
    color: var(--white);
    cursor: pointer;
    
  }
  
